<h3>New bug:</h3>
<form>
<div>Title:<br>{{input value=model.title}}</div>
<div>Description:<br>{{textarea value=model.description}}</div>
<div><input {{action 'save' model}} type='button' value='Save'></div>
</form>

{{outlet}}