<div class="row">
  <div class="col-sm-5">
    
    <h3>Here are the bugs:</h3>

    {{#if model}}
    
    <ul class='list-group'>
      {{#each model as |bug|}}
        <li class='list-group-item'>
          {{link-to bug.title "bugs.details" bug}}
        </li>
      {{/each}}
    </ul>
    
    {{else}}
    
    <p>No bugs were found..</p>
    
    {{/if}}

  </div>

  <div class="col-sm-7">
    
    {{outlet}}

  </div>

</div>
<div class="row">
  <div class="col-sm-5">
    {{link-to 'New' 'bugs.new' class='btn btn-success'}}
  </div>
</div>






