{{#link-to "bugs.new"}}<button>New</button>{{/link-to}}
<button {{action 'deleteAll'}}>Delete All</button>
<button {{action 'addBug'}}>Add Bug</button>

<h2>Here are the bugs:</h2>

{{#if model}}
<ul>
  {{#each model as |bug|}}
  <li>{{bug.title}}</li>
  {{/each}}
</ul>
{{/if}}

{{outlet}}
